data/
venv/
.venv/
.env
data/
*.csv
*.json
*.log
*.db
__pycache__/
*.pyc 
/config.local
/tmp
/cache
logs/
# dbt
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/
*.session
*.session-journal